{% extends "base.html" %}
{% block content %}
    <h1 class="h3 mb-3 font-weight-normal">Create New Account</h1>

    {% if error != None %}
    <div class="alert alert-danger" role="alert">{{error}}</div>
    {% endif %}

    <br>

    <form action="{{url_for('new_user_submit')}}" method="post">
        <div class="form-group">
        <label>Username:</label>
        <input class="form-control" type='text' name='username' value='{{username if username != None}}' required>
        </div>

        <div class="form-group">
        <label>Password:</label>
        <input class="form-control" type='password' name='password' required>
        </div>

        <div class="form-group">
        <label>Confirm Password:</label>
        <input class="form-control" type='password' name='confirm' required>
        </div>


        <input type='submit' class="btn btn-success btn-lg" value='Create'>
    </form>

    <br>
    <form action='/' method="get">
        <input type="submit" class="btn btn-link btn-sm" value="Back" />
    </form>
{% endblock %}


