{% extends "base.html" %}
{% block content %}
    <h1 class="h3 mb-3 font-weight-normal">Hello, {{session['username']}}</h1> <br>

    <form action="{{url_for('image_upload',id=id)}}" method="get">
        <input type="submit" class="btn btn-outline-primary" value="Upload Photo">
    </form>
    <br><br>


    <table>
        {% for row in cursor %}
         <a href="{{url_for('image_view',id=row[1],photo_id=row[0])}}"><img src = '{{row[2]}}' /> </a>
        {% endfor %}
    </table>

{% endblock %}