{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class = "col-xs-4">
            <form action="{{url_for('thumbnails',id=id)}}" method="get">
                <input type="submit" class="btn btn-link " value="Back">
            </form>
        </div>

        <div class = "col-xs-4">
            <form action="{{url_for('image_delete',id=id, photo_id=photo_id)}}" >method="post">
                <input type="submit" class="btn btn-light" value="Delete">
            </form>
        </div>
    </div>
    <br>

  {% for row in cursor %}
        <img src = '{{row[0]}}' class="img-fluid" alt="Responsive image">
        <br><br>
  {% endfor %}

{% endblock %}